.circle{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.min-circle{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: gray;
}


@media(max-width:300px) {
  .circle{
    width: 100vw;
    height: 100vw;
    background-color: blue;
  }

  .min-circle{
    width: 80vw;
    height: 80vw;
    border-radius: 50%;
    background-color: black;
  }
  
}